ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
    /*float: left;*/
}

html {
    height: 100%
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    /*font-family: "微软雅黑";*/
}
body {
    background-color: #252830;
}


* {
    transition: ease-in-out .2s;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

}
.ctrl-common {
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px #ccc;
}

a{
    text-decoration: none;
    color: inherit;
}

.order {
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.order .line {
    display: inline-block;
    width: 150px;
    border-top: 1px solid #ccc;
}

.order .txt {
    color: #686868;
    vertical-align: middle;
}